.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid var(--secondaryColor);
}

.itemName b,
.itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    display: block;
    color: var(--secondaryColor);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    background-color: var(--mainColor);
    text-decoration: none;
}